# ==========================================
# Node.js & Dependency Directories
# ==========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.*

# ==========================================
# React Native & Metro Bundler
# ==========================================
*.jsbundle
*.jsbundle.meta
# Metro cache
.metro-cache/

# ==========================================
# Expo (اگر از اکپو استفاده می‌کنید)
# ==========================================
.expo/
dist/
web-build/
*.jks

# ==========================================
# Android & Gradle
# ==========================================
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
.gradle/
# فایل‌های بیلد شده (خروجی‌ها)
*.apk
*.aab
*.ap_
# مسیر SDK اندروید سیستم شما (هرگز نباید کامیت شود)
local.properties
# کلیدهای امنیتی (به جز کلید دیباگ پیش‌فرض)
android/app/src/release/*.keystore
!android/app/debug.keystore

# ==========================================
# iOS & Xcode & CocoaPods
# ==========================================
ios/build/
ios/Pods/
ios/DerivedData/
ios/Index/
# فایل‌های شخصی Xcode (تنظیمات پنجره‌ها و کاربر)
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa

# ==========================================
# Environment Variables (متغیرهای محیطی)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# ==========================================
# IDEs & Editors
# ==========================================
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# IntelliJ / WebStorm / Android Studio
.idea/
*.iml
*.iws
*.ipr
# فایل‌های موقت ویرایشگرها
*.swp
*.swo
*~

# ==========================================
# OS Generated Files (سیستم‌عامل‌ها)
# ==========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ==========================================
# Testing, Coverage & E2E (Detox/Jest)
# ==========================================
coverage/
.nyc_output/
artifacts/

# ==========================================
# Fastlane (ابزار انتشار خودکار)
# ==========================================
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots/**/*.png
*/fastlane/test_output