# ==========================================
# Android & Gradle
# ==========================================
.gradle/
android/.gradle/

# Build folders
android/build/
android/app/build/

# Native/CMake build files
android/.cxx/
android/app/.cxx/
**/.cxx/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
compile_commands.json.bin
build.ninja
build_file_index.txt
android_gradle_build.json
android_gradle_build_mini.json
additional_project_files.txt
TargetDirectories.txt
VerifyGlobs.cmake
.ninja_log
.ninja_deps
*.o
*.obj
*.so

# Generated APK/AAB
*.apk
*.aab
*.ap_

# Android SDK
local.properties

# Keystore
*.keystore
*.jks
!android/app/debug.keystore
# ==========================================
# Logs & Cache
# ==========================================
*.log
.cache/
.tmp/
tmp/
temp/